body, html {
    font-family: "Söhne","ui-sans-serif","system-ui","-apple-system","Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Helvetica Neue",Arial,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
}

#message {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    margin-right: 8px;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #006bff;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.message-container {
    display: flex;
    width: 55%;
    min-width: 55vw;
    max-width: 55vw;
}

#text-field-container {
    border-color: transparent;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0; 
    z-index: 9999;
    margin-top: -50px;
    color: #fff;
    text-align: center;
    line-height: 50px;

}

#header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #002e30;
    color: white;
    height: 3em;
  }

#text-field-box {
    background-color: #adadae;
    border: 5px ;
    width: 45vw;
    height: 51px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: #303139;
    border-width: thin;
    margin: 0 0 0 0;
    bottom: 3vh;
    position: absolute;
}

#message {
    background-color: #adadae;
    flex: 1;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    margin-right: 8px;
    outline: none;
    height: auto;
    color: rgb(33, 33, 33)

}

#submit-button, #clear-history {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #adadae;
    color: #505056;
    outline: #0000;
    height: auto;
    width: 60px;
    text-align: left;
}

#clear-history {
    color: red;
}

.message-spacing {
    display: flex;
    width: 50%;
    height: 10vh;
}

#hide-bar {
    background-color: #002e30;
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
}

#user {
    background-color: #343541;
    color: #d1d5db;
}

.bot-message a {
    color: #fff;
    text-decoration: underline;
}

#user-message-container, #bot-message-container {
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: #20295f;
    color: #d1d5db;
    min-height: auto;
    max-height: auto;
    overflow-y: auto;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#bot-message-container {
    border-style: solid;
    border-color: #004549;
    background-color: #00555a;
    border-width: 0.1px;
}

#user-message-container{
    background-color: #004549;
}

.user-message, .bot-message {
    line-height: 100%;
    height: auto;
    margin: 0;
    margin-left: 0;
    margin-top: 1%;
    flex: 1;
    width: 50%; /* Make user-message take the full width of chat-container2 */
    padding-left: 35px;
    min-width: 36vw;
    max-width: 36vw;
}

#user-icon, #bot-icon {
    text-align: top;
    font-size: xx-large;
    line-height: 100%;
    height: auto;
    padding-left: 45px;
}

#user-icon {
    color: #f9be34;
}

#bot-icon {
    color: #f94834;
}

.send-suggestion-btn {
    font-size: small;
    margin-left: 5px;
    padding: 0 7px 0 7px;
    border-radius: 100px;
    background-color:#0075be;
    color:#ffffff;
    animation: fadeBackground 1.5s;
}

.send-suggestion-btn:hover {
    background-color: #00588f;
    transition: .25s;
    cursor: pointer;
}

.blinker {
    animation: blinking 1s infinite;
}

@media (width <= 1370px){
    #chat-container {
        flex: 1;
        margin: 0 auto;
        padding: 16px;
        overflow: auto;
        max-width: 800px;
        width: 50%;
        box-sizing: border-box;
        background-color: #f6f8fa;
        position: relative;
        transition: none;
    }

    #chat-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 16px;
        max-width: 800px;
        width: 50%;
        box-sizing: border-box;
        background-color: #eef1f4;
        transition: none;
    }

    button {
        padding: 10px;
        font-size: 14px;

    }
}

@media (width <= 765px) {
    #chat-container, #chat-form {
        width: 100%
    }
}

@media (min-width: 1001px) and (max-width: 1370px){
    #chat-container {
        flex: 1;
        margin: 0 auto;
        padding: 16px;
        overflow: auto;
        max-width: 800px;
        width: 50%;
        box-sizing: border-box;
        background-color: #f6f8fa;
        position: relative;
    }

    .message-container{
        width: 60%;
        min-width: 60vw;
    }

    #chat-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 16px;
        max-width: 800px;
        width: 50%;
        box-sizing: border-box;
        background-color: #eef1f4;
    }

    button {
        padding: 10px;
        font-size: 14px;

    }
}

@media (min-width: 766px) and (max-width: 1000px) {
    .message-container{
        width: 85%;
        min-width: 80vw;
    }

    #text-field-box {
        width: 60vw;
    }
}

@media (max-width: 765px) {
    #chat-container, #chat-form {
        width: 100%
    }

    .message-container{
        display: block;
        width: 100%;
        min-width: 80vw;
        position: relative;
        right: 20px;
        overflow-x: hidden;
    }

    #user-icon, #bot-icon {
        padding-left: 0;
    }

    #message {
        font-size: 14px;
    }

    #text-field-box {
        width: 80vw;
    }

    button {
        font-size: 14px;
    }

    .add-button {
        font-size: 14px;
    }

    .bot-message .user-message {
        font-size: 14px;
    }

    .textContent {
        font-size: 14px;
        width: 140%;
        display: block;
    }

    .suggestion-btn {
        width: 100%;
        font-size: xx-small;
    }
}

@keyframes blinking {
  from{
      opacity: 0
  }
  to{
      opacity: 1;
  }
}

@keyframes fadeBackground {
  from {
    opacity: 0;
    }
  to {
    opacity: 100%;
    }
}
